@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --primary-color: #F85601;
  --secondary-color: #455D7F;
  --success-color: #8BC70D;
}

html,
body {
  scroll-behavior: smooth;
  background-color: rgb(243 244 246);
  min-height: 100%;
}